In [1]:
l = [1,2,3,4,"sudh", "kumar", 45.56]

In [2]:
for i in l:
    print(i)

1
2
3
4
sudh
kumar
45.56

In [3]:
# pass allows just to skip the step and do nothing without error
for i in l:
    pass

In [4]:
s = 'sudh'

In [5]:
for i in s:
    print(i)

s
u
d
h

In [6]:
# This example gives an error, because i is a character, not the index in this case
for i in s:
    print(s[i])

TypeError: string indices must be integers

In [8]:
for i in l:
    print(i)
else:
    print("If for loop is going to complete itself then it will execute else")

1
2
3
4
sudh
kumar
45.56
If for loop is going to complete itself then it will execute else

In [9]:
for i in l:
    if i == 4:
        break
    print(i)
else:
    print("this will execute only if for is over")

1
2
3

In [11]:
s = "sudhanshu"
for i in s:
    if i == "n":
        break
    print(i)
else:
    print("print string", s)

s
u
d
h
a

In [12]:
s = "sudhanshu"
for i in s:
    if i == "z":
        break
    print(i)
else:
    print("print string", s)

s
u
d
h
a
n
s
h
u
print string sudhanshu

In [13]:
t = (4,5,6,7,8,9,"sudh")

In [14]:
for i in t:
    print(i)

4
5
6
7
8
9
sudh

In [17]:
b = {4,5,6,7,7,7,7,7,8,"sudh"}

In [18]:
type(b)

set

In [19]:
b

{4, 5, 6, 7, 8, 'sudh'}

In [20]:
for i in b:
    print(i)

4
5
6
7
8
sudh

In [21]:
d = {"key1": "sudh", "contact": "sudhanshu@ineuron.ai", "position":"xyz"}

In [22]:
# For dictionary for loop in such form give a list of keys
for i in d:
    print(i)

key1
contact
position

In [24]:
# This is how we should extract values
for i in d:
    print(d[i])

sudh
sudhanshu@ineuron.ai
xyz

In [26]:
for i in d:
    print(i, ":", d[i])

key1 : sudh
contact : sudhanshu@ineuron.ai
position : xyz

In [27]:
range(9)

range(0, 9)

In [28]:
list(range(9))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [29]:
for i in range(9):
    print(i)

0
1
2
3
4
5
6
7
8

In [31]:
list(range(1, 9))

[1, 2, 3, 4, 5, 6, 7, 8]

In [33]:
list(range(1, 9, 2))

[1, 3, 5, 7]

In [34]:
list(range(1, 9, -1))

[]

In [35]:
list(range(9, 0, -1))

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [37]:
n = 4
for i in range(4):
    for j in range(0, i+1):
        print("sudh", end = " ")
    print("\n")

sudh

sudh sudh

sudh sudh sudh

sudh sudh sudh sudh

In [38]:
n = 3
for i in range(n):
    for j in range(i, n - 1):
        print(" " * len("sudh"), end = " ")
    for j in range(i+1):
        print("sudh", end= " ")
    for j in range(i):
        print("sudh", end= " ")
    print("\n")

          sudh

     sudh sudh sudh

sudh sudh sudh sudh sudh

In [40]:
t = (3,23,45,67,2,4,5,6)

In [41]:
for i in range(len(t)):
    print(i, ":", t[i])

0 : 3
1 : 23
2 : 45
3 : 67
4 : 2
5 : 4
6 : 5
7 : 6

In [43]:
s = "ineuron"
for i in range(len(s)):
    print(i, s[i])

0 i
1 n
2 e
3 u
4 r
5 o
6 n

In [55]:
s = "ineuron"
for i in range(len(s), 0, -1):
    print(i, s[i-1])

7 n
6 o
5 r
4 u
3 e
2 n
1 i

In [54]:
s = "ineuron"
for i in range(len(s), 0, -1):
    print(len(s) - i, s[i-1])

0 n
1 o
2 r
3 u
4 e
5 n
6 i

In [56]:
d

{'key1': 'sudh', 'contact': 'sudhanshu@ineuron.ai', 'position': 'xyz'}

In [62]:
d.items()

dict_items([('key1', 'sudh'), ('contact', 'sudhanshu@ineuron.ai'), ('position', 'xyz')])

In [64]:
for item in d.items():
    print(item, type(item), type(item[1]))

('key1', 'sudh') <class 'tuple'> <class 'str'>
('contact', 'sudhanshu@ineuron.ai') <class 'tuple'> <class 'str'>
('position', 'xyz') <class 'tuple'> <class 'str'>

In [65]:
l = {"sudh", "kumar", 3234545, "sudhanshu@ineuron.ai", 345, 2334321}

In [74]:
l1 = []
for i in l:
    if str(i).isnumeric():
        l1.append(i)

In [75]:
l1

[3234545, 2334321, 345]

In [71]:
l2 = []
for i in l:
    if type(i) == int:
        l2.append(i)

In [72]:
l2

[3234545, 2334321, 345]

In [79]:
d = {1:3345343, "name": "sudh", "email_id": "sudhanshu@ineuron.ia", 234: "sdfsdfsd", "43":"asdasdsa", 234: "asdas"}

In [81]:
d.items()

dict_items([(1, 3345343), ('name', 'sudh'), ('email_id', 'sudhanshu@ineuron.ia'), (234, 'asdas'), ('43', 'asdasdsa')])

In [80]:
d2 = {}
for item in d.items():
    if type(item[0]) == int:
        d2[item[0]] == item[1]

KeyError: 1

In [78]:
d2

{}

In [84]:
d.keys()

dict_keys([1, 'name', 'email_id', 234, '43'])

In [3]:
s ="aaaabbccd"

In [4]:
s

'aaaabbccd'

In [5]:
for i in set(s):
    print(i, ":", s.count(i))

b : 2
d : 1
a : 4
c : 2

In [85]:
# Check why it is not working
d = {}
for char in s:
    if char is in d.keys():
        d[char] = d[char]+1
    else:
        d[char] = 1

SyntaxError: invalid syntax (<ipython-input-85-b9d4cfc3a976>, line 3)

In [9]:
t = ("sudh", "kumar", [1,2,3,4,5], (3,4,5,6,7), {"key1":"sudh", "key2":"kumar"})

In [10]:
for item in t:
    if type(item) == list or type(item) == tuple:
        if 3 in item:
            print(item)

[1, 2, 3, 4, 5]
(3, 4, 5, 6, 7)