### Lecture assignment from 05 28 2022

<b>Question 1:</b> Print the following text with the for loop
ineruon 
ineruon ineruon 
ineruon ineruon ineruon
ineruon ineruon ineruon ineruon

In [ ]:
ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

<b>Solution 1</b>:

In [4]:
for i in range(5):   
        print("ineuron "*i)

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

<b>Question 2:</b> Print the following text with the for loop

'''       ineruon
    ineruon      ineruon
ineruon		ineruon 	ineruon
	ineruon		 ineruon
		  ineruon '''

<b>Solution 2:</b>

In [18]:
# This was a tough one. Probably there are easier ways to solve this, but I managed to come up with this one:
n = 5
k = int(n/2)

for i in range(n):  
    if i <= (n/2):
        print((" " * (int(n/2) - i)* len('ineuron')) + ('ineuron' + " " * len('ineuron'))*(i + 1))
    elif i >  (n/2):
        print((" " * (i - int(n/2)) * len('ineuron')) + ('ineuron' + " " * len('ineuron'))*(n - i))

              ineuron
       ineuron       ineuron
ineuron       ineuron       ineuron
       ineuron       ineuron
              ineuron

In [2]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

<b>Question 3:</b> Try to extract all the list entities

<b>Solution 3:</b>

In [21]:
for i in l:
    if type(i) == list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

<b>Question 4:</b> Try to extract all the dict entities

<b>Solution 4:</b>

In [24]:
for i in l:
    if type(i) == dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

<b>Question 5:</b> Try to extract all the tuples entities

<b>Solution 5:<b>

In [26]:
for i in l:
    if type(i) == tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

<b>Question 6:</b> Try to extract all the numerical data it may b a part of dict key and values

<b>Solution 6:<b>

In [30]:
''' Another tough task. Not sure about the set, in original set there are duplicated values, but the duplicates 
are obviously ignored. Don`t know if it is possible to get all the duplicates from there'''
for item in l:
    if type(item) == int or type(item) == float:
        print(item)
    elif type(item) == list or type(item) == tuple or type(item) == set:
        for k in item:
            if type(k) == int or type(k) == float:
                print(k)
    elif type(item) == dict:
        for j in list(item.keys()):
            if type(j) == int or type(j) == float:
                print(j)
        for m in list(item.values()):
            if type(m) == int or type(m) == float:
                print(m)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
7
6
8

<b>Question 7:</b> Try to give summation of all the numeric data

<b>Solution 7:</b>

In [34]:
sum = 0
for item in l:
    if type(item) == int or type(item) == float:
        sum += item
    elif type(item) == list or type(item) == tuple or type(item) == set:
        for k in item:
            if type(k) == int or type(k) == float:
                sum += k
    elif type(item) == dict:
        for j in list(item.keys()):
            if type(j) == int or type(j) == float:
                sum += j
        for m in list(item.values()):
            if type(m) == int or type(m) == float:
                sum += m
print(sum)

156

<b>Question 8:</b> Try to filter out all the odd values out all numeric data which is a part of a list

<b>Solution 8:</b>

In [36]:
for item in l:
    if type(item) == int or type(item) == float:
        if item%2 != 0:
            print(item)
    elif type(item) == list or type(item) == tuple or type(item) == set:
        for k in item:
            if type(k) == int or type(k) == float:
                if k%2 != 0:
                    print(k)
    elif type(item) == dict:
        for j in list(item.keys()):
            if type(j) == int or type(j) == float:
                if j%2 != 0:
                    print(j)
        for m in list(item.values()):
            if type(m) == int or type(m) == float:
                if m%2 != 0:
                    print(m)

1
3
3
5
3
5
7
45
5
23
3
7

<b>Question 9:</b> Try to extract "ineruon" out of this data

<b>Solution 9:</b>

In [37]:
l[4]["k2"]

'ineuron'

In [39]:
l[5][0]

'ineuron'

<b>Question 10:</b> Try to find out a number of occurances of all the data

<b>Solution 10:</b>

In [42]:
d = {}

for item in l:
    if type(item) == list or type(item) == set or type(item) == tuple:
        for k in item:
            if k not in d.keys():
                d[k] = 1
            else:
                d[k] += 1
    elif type(item) == dict:
        for i in item.keys():         
            if i not in d.keys():
                d[i] = 1
            else:
                d[i] += 1
        for j in item.values():
            if j not in d.values():
                d[j] = 1
            else:
                d[j] += 1                
            
print(d)

{1: 1, 2: 2, 3: 4, 4: 4, 5: 3, 6: 1, 7: 2, 45: 1, 23: 1, 'k1': 1, 'k2': 1, 'k3': 1, 'sudh': 1, 'ineuron': 2, 'kumar': 1, 8: 1, 'data science ': 1}

<b>Question 11:</b> Try to find out number of keys in dict element

<b>Solution 11:</b>

In [44]:
len(l[4])

5

<b>Question 12:</b> Try to filter out all the string data

<b>Solution 12:</b>

In [49]:
for item in l:
    if type(item) == list or type(item) == tuple or type(item) == set:
        for k in item:
            if type(k) == str:
                print(k)
    elif type(item) == dict:
        for j in list(item.keys()):
            if type(j) == str:
                print(j)
        for m in list(item.values()):
            if type(m) == str:
                print(m)

k1
k2
k3
sudh
ineuron
kumar
ineuron
data science

<b>Question 13:</b> Try to Find  out alphanum in data

<b>Solution 13:</b>

In [3]:
# Corrected
for item in l:
    if type(item) == list or type(item) == tuple or type(item) == set:
        for k in item:
            if type(k) == str and k.isalnum():
                print(k)
    elif type(item) == dict:
        for j in list(item.keys()):
            if type(j) == str and j.isalnum():
                print(j)
        for m in list(item.values()):
            if type(m) == str and m.isalnum():
                print(m)

k1
k2
k3
sudh
ineuron
kumar
ineuron

In [51]:
# Initial
for item in l:
    if type(item) == int or type(item) == float:
        print(item)
    elif type(item) == list or type(item) == tuple or type(item) == set:
        for k in item:
            if type(k) == int or type(k) == float or (type(k) == str and k.isalnum()):
                print(k)
    elif type(item) == dict:
        for j in list(item.keys()):
            if type(j) == int or type(j) == float or (type(j) == str and j.isalnum()):
                print(j)
        for m in list(item.values()):
            if type(m) == int or type(m) == float or (type(m) == str and m.isalnum()):
                print(m)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
k1
k2
k3
3
7
sudh
ineuron
kumar
6
8
ineuron

<b>Question 14:</b> Try to find out multiplication of all numeric value in  the individual collection inside dataset

<b>Solutiuon 14</b>

In [59]:
for item in l: 
    mult = 1
    if type(item) == set or type(item)==list or type(item)==tuple:
        for n in item:
            if type(n) == int or type(n) == float:
                mult *= n
        if mult > 1:
            print(f"The list item is {item}, the multiplication of its items is {mult}")
    elif type(item) == dict:
        for j in list(item.keys()):
            if type(j) == int or type(j) == float:
                mult *= j
        for m in list(item.values()):
            if type(m) == int or type(m) == float:
                mult *= m        
        print(f"The list item is {item}, the multiplication of its items is {mult}")

The list item is [1, 2, 3, 4], the multiplication of its items is 24
The list item is (2, 3, 4, 5, 6), the multiplication of its items is 720
The list item is (3, 4, 5, 6, 7), the multiplication of its items is 2520
The list item is {45, 4, 5, 23}, the multiplication of its items is 20700
The list item is {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}, the multiplication of its items is 1008

<b>Question 15:</b> Try to unwrape all the collection inside collection and create a flat list

<b>Solution 15</b>:

In [63]:
l1 = []

for item in l:
    if type(item) == list or type(item) == tuple or type(item) == set:
        for k in item:
            l1.append(k)            
    elif type(item) == dict:
        for j in list(item.keys()):
            l1.append(j)
        for m in list(item.values()):
            l1.append(m)
print(l1)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'k2', 'k3', 3, 7, 'sudh', 'ineuron', 'kumar', 6, 8, 'ineuron', 'data science ']