## Lecture assignment from 05 06 2022

<b>Question 1:</b> Try to print a prime numbers in between 1 to 1000

<b>Solution 1:</b>

In [15]:
for i in range(1, 1001):  
    flag = False
    
    if i == 1 or i == 2:
        continue
    else:
        for n in range(2, i):
            if i%n == 0:
                flag = True
                break
    if flag == False:
        print(i)

3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

<b>Question 2:</b> Try to write a function which  is equivalent  to print function in python

<b>Solution 2:</b>

In [22]:
def my_print(obj):
    return str(obj)

In [23]:
my_print(4)

'4'

In [25]:
my_print(2.65)

'2.65'

In [26]:
my_print('sudh')

'sudh'

<b>Question 3:</b> Try to write a function which is a replica of list append , extend and pop function

<b>Solution 3:</b>

In [54]:
#  Append
def my_append(l, lastitem):
    new_dict = {}
    
    for item in l:
        new_dict[item] = type(item)
        
    new_dict[lastitem] = type(lastitem)       
    
    return list([type(x)(x)for x in new_dict.keys()])

In [55]:
l = [2,"sudh",4.25]

In [56]:
my_append(l, "dsdas")

[2, 'sudh', 4.25, 'dsdas']

In [57]:
#  Extend
def my_extend (l, m):        
    
    return l + list(m)

In [58]:
l1 = [2,"sudh",4.25]

In [59]:
l2 = [84, "asdasdas"]

In [60]:
my_extend (l1, l2)

[2, 'sudh', 4.25, 84, 'asdasdas']

In [71]:
#  Pop
def my_pop(l, index):
    new_dict = {}    
    
    for i in range(0, len(l)):
        if i == index:
            return l[i]
        else:
            new_dict[l[i]] = type(l[i])      
         
    
    return list([type(x)(x)for x in new_dict.keys()])

In [72]:
l3 = [2,"sudh",4.25, 4.25, 84, 'asdasdas']

In [73]:
my_pop(l3, 4)

84

<b>Question 4:</b> Try to write a lambda function which can return a concatination of all the string that we will pass

<b>Solution 4:</b>

In [21]:
finstr = lambda text: ''.join(text)

In [22]:
finstr(["sudh", "sdasdas", "text3"])

'sudhsdasdastext3'

<b>Question 5:</b> Try to write a lambda function which can return list of square of all the data between 1-100

<b>Solution 5:</b>

In [19]:
[x*x for x in range(1, 101)]

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000]

<b>Question 6:</b> Try to write a 10 different example of lambda function with a choice of your task

<b>Solution 6:</b>

In [40]:
#Example 1
double = lambda x: x * 2
double(5)

10

In [41]:
#Example 2
t = lambda *x: x
t(2,3,4,5,6)

(2, 3, 4, 5, 6)

In [46]:
#Example 3
t1 = lambda x: [i**2 for i in x]
t1([2,3,4,5,6])

[4, 9, 16, 25, 36]

In [47]:
#Example 4
t2 = lambda x, y: x + y
t2(2, 4)

6

In [48]:
#Example 5
t3 = lambda x, y, c: x + y - c
t3(2, 4, 3)

3

In [50]:
#Example 6
my_list = [1, 2, 3, 4, 5, 6]
new_list = list(map(lambda x: x*2, my_list))
print(new_list)

[2, 4, 6, 8, 10, 12]

In [51]:
#Example 7
my_list = [18, -3, 5, 0, -1, 12]
new_list = list(filter(lambda x: x > 0, my_list))
print(new_list)

[18, 5, 12]

In [52]:
#Example 8
number = [1,2,3,5,4,6,8,9,11,12]
multiples_of_4 = list(filter(lambda a: (a%4 == 0) ,number))
print(multiples_of_4)

[4, 8, 12]

In [56]:
#Example 9
x="some kind of a useless lambda"
useless = (lambda x : print(x))
useless(x)

some kind of a useless lambda

In [54]:
#Example 10
from functools import reduce
sequences = [1,2,3,4,5]
product = reduce (lambda x, y: x*y, sequences)
print(product)

120

<b>Question 7:</b> Try to write a funtion which can perform a read operation from .txt file

<b>Solution 7:</b>

In [34]:
def read_txt(file):
    with open(file, 'r') as f:
        contents = f.read()
        print(contents)

In [35]:
read_txt("sample_txt.txt")

This is the first line
This is the second line
This is the third line